<div class="search-form" data-aos="fade-up" data-aos-delay="300">
    <form action="">
      <div class="row g-3">
        
        <div class="col-12">
          <div class="form-floating">
            <input type="text" class="form-control" id="location-search" name="location-search" required="">
            <label for="location-search">Saisir votre ville </label>
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-search w-100">
            <i class="bi bi-search"></i>
            Rechercher
          </button>
        </div>

      </div>
    </form>
  </div>