.page-actualites {
  min-height: 100vh;
}

  .container-centre {
  max-width: 900px; /* C'est ça qui "coupe" les extrémités ! */
  margin: 0 auto;   /* Centre la boîte parfaitement au milieu */
  padding: 0 20px;
  }
  
  .liste-actualites {
  display: grid;
  /* On force exactement 2 belles colonnes au lieu de l'étirer */
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; /* L'espace entre les cartes */
  }

  .section-liste {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: fit-content;
  margin: 0 auto;
  padding: 2.5% 2.5% 0;
  }
  
.titre-page {
  margin-top: 40px; /* Un peu d'espace sous la navbar */
  margin-bottom: 20px;
    }
