<div class="page-glossaire">
  <app-nav-bar />

  <section class="section-astres">
    <div class="container">
      <div class="grille-astres">
        @for (astre of tousLesAstres(); track astre.id) {
          <div (click)="afficherInfos(astre.id)" style="cursor: pointer;">
            <app-map-astre 
              [id]="astre.id"
              [nom]="astre.nom"
              [image]="astre.image"
            />
          </div>
        }
      </div>
    </div>
  </section>

  @if (astreSelectionne()) {
    <div class="modal-overlay" (click)="fermerModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        
        <button class="btn-close" (click)="fermerModal()">
          <i class="bi bi-x-lg"></i>
        </button>
        
        <h2>{{ astreSelectionne().name }}</h2>
        <p class="text-center"><strong>Type :</strong> {{ astreSelectionne().bodyType }}</p>
        
      </div>
    </div>
  }
</div>